---
---

.indented-list {
  margin: 0 0 0 20px;
}

.event {
  margin: 0 0 30px 0;
}

.event-attributes {
  margin: 0 0 10px 0;
}

.event-attributes__title {
  font-weight: bold;
}

.event-attributes__data {
  margin: 0 0 5px 20px;
}
